body {
    line-height: 1.5em;
    font-family: 'Fira Code', Courier, monospace;
    margin: auto;
    max-width:65%;
}
.title {
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    font-family: 'Fira Code', Courier, monospace
		
}

html {
    font-family: 'Nunito', sans-serif;
}
pre,
code {
    font-family: 'Roboto Mono', sans-serif;
}

.title b {
    color: #622;
}

.outline-2 h2::after {
    content: ' ';
    display: block;
    border: 1px dashed #9d9d9d;
}
.outline-3, .outline-4, .outline-5 {
    padding-left: 1em;
    border-left:1px dotted #ccc;
}

#org-div-home-and-up {
    font-size: 80%;
    white-space: nowrap;
    padding-top: 10px;
}

#org-div-home-and-up a {
    text-decoration: none;
    text-align: center;
    padding: 8px;
}

#content {
    padding: 0 50px;
    margin-top: 15px;
    background: #f7eee2;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    max-width: unset;
}

#content h2 {
    color: #751816;
}

#table-of-contents {
    float: right;
    border: 1px solid;
    overflow: auto;
    font-size: 14px;
    position: fixed;
    right: 20px;
    top: 24px;
    background: white;
    z-index: 5;
    max-height: 80%;
    margin-right: 20px;
    padding: 10px;
}
#table-of-contents h2 {
    font-size: 14px;
    padding: 10px;
}
#table-of-contents:hover #text-table-of-contents { display: block; }
#text-table-of-contents { display: none }
#text-table-of-contents ul { padding-left: 20px }

pre {
  line-height: 1.2em;
      white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
pre.src:before {
    top: 0px;
}

code {
    background-color: #fdf6e3;
	  font-size: 85%;
    padding: 2px;
	  border-radius: 0.3em;
}

pre code {
    background-color: #fdf6e3;
}

pre.src {
    background: #FAFAFA;
    overflow: auto;
}
pre.example {
    background: #FFFFFF;
    color: #b85c57;
}
.code-highlighted,.coderef-off:target {
    background: #E8EB98
}
.org-src-name {
    font-family: monospace;
    font-weight: bold;
    text-decoration: underline
}
.figure img {
    max-width:100%;
    box-shadow: 0px 0px 30px #bbb;
    border-radius: 5px;
}
#postamble {
    font-size: smaller;
    padding: 45px 0;;
    margin-top: 50px;
    line-height: 1em;
}

#postamble hr {
    height: 0px;
    background-color: #ccc;
    border: none;
}

#postamble a {
  color: #662222;
}

.comment {
    border: 1px solid darkgray;
    padding: 10px;
    border-radius: 20px;
}

blockquote {
  border-left: 2px solid #751816;
  padding: 1px 20px;
  margin-left: 30px;
}
