<a href='/about.html'>About</a> | <a href='/all-posts.html'>All Posts</a> | <a href='https://gitlab.com/translucentink'>Source Code</a>

<br><br>
<p>Last updated %C. Built with %c.</p>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
